#date-help {
    padding-top: 5px;
    visibility: hidden;
  }

#date-div {
  margin-bottom: 5px;
}

#expense-amount-help {
    visibility: hidden;
}

#category-help {
  visibility: hidden;
}

#expense-label {
  margin-bottom: -5px;
}

#category-label {
  margin-bottom: -5px;
}

#date-div {
  padding-top: 10px;
}

.last-button {
  margin-top: 10px;
}