@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i'); 
@import url("https://use.typekit.net/vwk0sna.css");

html {
    /* background-color: white; */
}

body {
    background-image: linear-gradient(#B79891,#94716B);
    /* background-color: white; */
}

/*** TEXT ***/

.text { 
    font-family: adelle-sans, sans-serif;
    font-weight: 600;
    font-size: 300%;
    position: relative;
    display: inline-block;
    margin-top: 150px;
    margin-left: 3%;
}

/*** ADD AND VIEW EXPENSES BUTTONS ***/

.buttons-container {
    margin-top: 20px;
}

.button-image1 { 
    width: 300px;
    height: 300px;
    display: inline-flex;
}

.button-image2 { 
    width: 300px;
    height: 300px;
    display: inline-flex;
}

.button-image3 { 
    width: 300px;
    height: 300px;
    display: inline-flex;
}

/* .button-image:hover { 
    cursor: pointer;
} */

.button-text-container {
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: -0.5vh;
}

.col-lg-6{
    padding: 0 5px;
}

#image { 
    width: 275px;
    height: 275px;
}

.button {
    font-family: adelle-sans, sans-serif;
    display: block;
    width: 100%;
    text-align: center;
    cursor: pointer;
    height: 125px;
}

#button1 { 
}

#button2 { 
}

#button3 { 
    /* margin-left: -20%; */
}

.button a {
    line-height: 125px;
}

.custom-underline {
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.custom-underline,
.custom-underline:hover,
.custom-underline:focus,
.custom-underline:active {
  color: black;
  text-decoration: none;
  left: -14%;
  margin-top: -10%;
  margin-left: 27%;
}

.custom-underline::after {
  content: "";
  position: absolute;
}

.button .custom-underline::after {
    top: 65%;
    height: 2px !important;
    width: 40%;
    left: 30%;
    background-color: black; /*rgba(255, 255, 255, 0.6);*/
    transition: 0.4s ease-out all .1s;
}
  
.button:hover .custom-underline::after {
    width: 90%;
    left: 5%;
    transition: 0.5s ease all;
}