@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');

* {
    margin: 0;
    padding: 0;
}

body { 
    /* background-image: url('homepage-img.jpg'); */
}

/*** NAVIGATION BAR ***/

.navigation-bar { 
    display: block;
    overflow: hidden;
    width: 100%;
    height: 70px;
    top: 5px;
    right: 100px;
}

.navigation-bar-logo-text { 
    font-family: karla;
    color: black;
    font-size: 150%;
    font-weight: bold;
    text-decoration: none;
    line-height: 105%;
    float: left;
    margin-left: 25px;
    margin-top: 25px;
    height: 40px;
}

.navigation-bar-button { 
    height: 28px;
    width: 80px;
    font-family: karla;
    font-size: 100%;
    color: black;
    text-align: center;
    text-decoration: none;
    line-height: 175%;
    border-radius: 20px;
    border: 1px solid black;
    display: inline-block;
    margin-top: 25px;
    margin-right: 10px;
    float: right;
}

.navigation-bar-button:hover { 
    background-color: #93f9b9;
}

/*** MIDDLE CONTENT ***/

.main-content {
    width: 100%;
    height: 400px;

} 

.icon { 
    width: 220px;
    height: 215px;
    margin-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

.main-header { 
    font-family: 'Open Sans', sans-serif;
    font-size: 200%;
    font-weight: bolder;
    /* font-style: italic; */
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-content-image { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 900px;
    height: 525px;
}

/*** BUTTONS ***/

.buttons-container { 
    margin-top: 225px;
    height: 130px;
    width: 100%;
    /* border: 1px solid black; */
    text-align: center;
    display: inline-block;
}

/* .icon-button {  */
    /* position: relative; */
    /* margin-left: 500%; */
    /* font-size: 65px; */
    /* color: black; */
    /* text-shadow: 1px 1px gray; */
    /* text-decoration: none; */
/* }  */


.button { 
    display: inline-block;
    margin-left: 50px;
}

.button-text { 
    font-family: 'Open Sans', sans-serif;
    font-size: 150%;
    /* margin-left: 22%; */
    text-decoration: none;
    color: black;
}

.button-text:hover { 
    color: green;
}
