@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
@import url("https://use.typekit.net/vwk0sna.css");

html {
    /* background: linear-gradient(#232526,#414345); */
}

body {
    text-align: center;
    /* background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%); */
    background: #6190E8;  
    background: -webkit-linear-gradient(to bottom, #A7BFE8, #6190E8);  
    background: linear-gradient(to bottom, #A7BFE8, #6190E8);  
    color: black;
}

/*** NAVIGATION BAR ***/

.navigation-bar-logo-text { 
    text-decoration: none;
    margin-left: 20px;
    color: black;
}

.navigation-bar-logo-text:hover { 
    color: black;
    text-decoration: none;
}

.navigation-bar-button { 
    text-decoration: none;
    float: right;
    margin-top: -12px;
    margin-right: 150px;
    color: black;
}

.navigation-bar-button:hover { 
    color: black;
    text-decoration: none;
    border: 1px solid black;
}

/*** LOGIN FORM ***/

.login { 
    font-family: adelle-sans, sans-serif;
    text-align: center; 
    position: relative;
    display: inline-block;
    margin-top: 10%;
}

.login-label {
    font-weight: 600;
    font-size: 300%;
    position: relative;
    display: inline-block;
    margin-left: 3%;
   
}

.login-container {
    min-width: 980px;
    max-width: 1140px;
    padding-top: 45px!important;
    padding-bottom: 45px!important;
    border-radius: 0px;
    text-align: left;
    color: black;
}

.col-md-4 { 
    padding: 0px;
}

.form-group {
    line-height: 0.4;
}

.control-label { 
    font-size: 125%;
    font-weight: lighter;
    line-height: 175%;
}

#aa {
    visibility: hidden;
}

#username-help {
    visibility: hidden;
}

#password-help {
    visibility: hidden;
}

#login-button { 
    padding: 15px 25px;
    /* background-color: rgb(230, 230, 230); */
    background-color: white;
    font-family: adelle-sans, sans-serif;
    font-size: 110%;
    color: black;
    /* border: 1px solid black; */
    border: 0px;
    border-radius: 0px;
    text-decoration: none;
}

#login-button:hover { 
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    text-decoration: none;
}
  

