@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
@import url("https://use.typekit.net/vwk0sna.css");

html {
    background-color: white;
}

/*** SIGNUP FORM ***/

.login { 
    font-family: adelle-sans, sans-serif;
    text-align: center;
    position: relative;
    display: inline-block;
    margin-top: 4%;
    /* height: 500px; */
    /* background-color: black; */
}

.login-label {
    font-weight: 600;
    font-size: 300%;
    position: relative;
    display: inline-block;
    /* margin-top: -5%; */
}

.login-container {
    min-width: 980px;
    max-width: 1140px;
    padding-top: 45px!important;
    padding-bottom: 45px!important;
    border-radius: 0px;
    text-align: left;
}

.form-group {
    line-height: 0.4;
}

.control-label { 
    font-size: 125%;
    font-weight: lighter;
    line-height: 175%;
}

#username-help {
    visibility: hidden;
}

#password-help {
    visibility: hidden;
}

#email-help {
    visibility: hidden;
}

#password2-help {
    visibility: hidden;
}

#password3-help {
    visibility: hidden;
}

