@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
@import url("https://use.typekit.net/vwk0sna.css");

html {
    /* background-color: white; */
    /* background: linear-gradient(#232526,#414345); */
}

body b{
    color: #1D976C;
}

/*** FRONT PAGE ***/

.navigation-bar-logo-text { 
    color: white;
}

.navigation-bar-buttons-container { 
    margin-top: 49px;
}

.navigation-bar-button { 
    color: white;
}

.homepage {
    background-image: url('images/expenses1.jpg');
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.homepage-overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);  /* adds dark effect to background */
    text-align: center;
    position: relative;
    display: block;
    margin: auto auto auto auto;
    /* animation: banner-in 2s ; */
}

.homepage-heading { 
    font-size: 125px;
}

.homepage-button { 
    padding: 15px 30px;
    font-size: 135%;
    float: center;
    margin-left: 10px;
    margin-right: 30px;
}

.homepage-button:hover { 
    color: black;
    text-decoration: none;
}

.icon-button { 
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px gray;
    text-decoration: none;
    position: absolute;
    bottom: -200px;
    left: 50%;
    margin-left: -12px;
    animation: float 3s ease-in-out infinite;
}

.icon-button:hover { 
    color: white;
    text-shadow: 1px 1px gray;
    text-decoration: none;
}

@keyframes float { 
    0% {transform: translatey(0px);}
    33% {transform: translatey(-10px);}
    100% {transform: translatey(0px);}
}

/*** VIEW EXPENSES ***/

#aa {
    margin-top: 20px;
    visibility: hidden;
}

.view-expenses { 
    font-family: adelle-sans, sans-serif;
    color: white;
    text-align: center;
    position: relative;
    display: inline-block;
    margin-left: 21.5%; 
    margin-top: 5%;
    padding: 15%;
}

.title {
    font-size: 300%;
    font-weight: 600;
}

/* .header {
    font-weight: 600;
    font-size: 200%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    padding: 0;
    margin-top: 0;
} */

/*** STREAK AND PROGRESS ***/

.monthly-container { 
    height: 100vh;
}

.progress-bar { 
    /* background-color: white;
    margin-top: 10px;
    height: 20px; */
    width: 80%; 
}

.progress { 
    margin-top: 2%;
}

.badge { 
    /* width: 10%; */
    height: 200%;
}

.btn { 
    padding: 15px 20px;
}

.btn-info {
    font-family: adelle-sans, sans-serif;
    /* text-transform: lowercase; */
}

.badge-pill {
    margin-left: 7.5px;
}

#streak { 
    color: black;
    background-color: white;
    font-size: 100%;
    font-weight: 600;
    letter-spacing: 1.75px;
}

/*** WEEKLY AND MONTHLY GRAPHS ***/

#monthly { 
    color: black;
    font-weight: 400;
    background-color: white;
    font-size: 120%;
}

#bar-chart-container {
    width: 40%;
    height: 460px;
    text-align: center;
    margin: auto;
    margin-left: 7%;
    margin-top: -5%;
}

#barChart {
    margin-top: 40px;
}

#pieChart { 
    margin-top: 12%;
    height: 481px;
}

/*** ANNUAL GRAPH ***/

#annual { 
    background-color: white;
}

#lineChart {
    margin-top: 250px;
    margin-bottom: 100px;
}

.line-chart-div { 
    padding: 0px;
}

.line-chart-label { 
    position: relative;
    display: block;
    margin-top: -75px;
}

h4 { 
    font-family: adelle-sans, sans-serif;
}

/*** PARALLAX ***/
.parallax1 {
    background: url('images/finance.jpg') no-repeat fixed 100% 0;
    opacity: 0.8;
    background-position: center;
    height: 100%;
    background-size: cover;
    color: rgba(45, 0, 71, 0.5);
    padding: 10px;
  }

#pie-container {
   position: relative; 
   height:40vh; 
   width:65vw;
}